/* Coding Quiz Title */
.header {
    margin: 25px;
    text-align: center;
}


/* Nav bar */
.nav-position {
position: relative;
}

.nav {
    width: 100%;
}

.leaderboard {
position: absolute;
margin: 0px;
padding: 0px;
right: 0px;
}

.middle {
    text-align: center;
}


.left {
    text-align: start;
}

.right {
    text-align: end;
}

@media screen and (max-width: 640px) {

    .left {
        text-align: center;
    }

    .right {
        text-align: center;
    }

}

/* Main content */

.j-center {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.viewscreen {
    z-index: 1;
}

.answerButton {
    margin: 3px;
    display: none;
}

main {
    position: relative;
}

/* Scoreboard input form */
.score-input {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    background-color: grey;
}

.scoreForm {
    margin: 80px;
}

ul {
    text-align: start;
    list-style: none;
    margin-top: 10px;
    margin-left: 25%;
}

h2 {
    text-align: start;
    margin-top: 25px;
    margin-left: 25%;
}

li {
    font-size: 24px;
    margin-top: 5px;
    font-weight: bold;
}

#scores {
    height: 100%;
    z-index: 99999;
}

.listwrap {
    padding: 20px;
    background-color: grey;
}